:root {
  font-size: 14px;
  font-family: monospace;
  --frontTextColor: #fff;
  --backTextColor: #cccccc60;
  --baseColor: #050713;
  --secondaryColor: #090c1e;
  --gameWidth: 60%;

  --colorRed: hsl(0, 60%, 50%);
  --colorOrange: hsl(39, 60%, 50%);
  --colorYellow: hsl(60, 60%, 50%);
  --colorGreen: hsl(120, 60%, 25%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--baseColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  color: var(--frontTextColor);
}
.typingGame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.typingGame header {
  /* width: var(--gameWidth); */
  padding: 1em;
}
.typingGame h1 {
  margin-bottom: 1em;
  text-align: center;
}
.typingGame__scoreArea {
  font-size: 1.8em;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  text-align: center;
}
.typingGame__bonusBarArea {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding-right: 20px;
}
.typingGame__bonusBar {
  display: flex;
  align-items: center;
}
.typingGame__bar {
  background: linear-gradient(
    45deg,
    var(--colorRed),
    var(--colorOrange),
    var(--colorYellow),
    var(--colorGreen)
  );
  border-radius: 50px;
  background-size: 700px;
  height: 20%;
  width: 100%;
}
.red .typingGame__accuracyArea__score,
.red .typingGame__accuracyArea__persentage {
  color: var(--colorRed);
}
.orange .typingGame__accuracyArea__score,
.orange .typingGame__accuracyArea__persentage {
  color: var(--colorOrange);
}
.yellow .typingGame__accuracyArea__score,
.yellow .typingGame__accuracyArea__persentage {
  color: var(--colorYellow);
}
.green .typingGame__accuracyArea__score,
.green .typingGame__accuracyArea__persentage {
  color: var(--colorGreen);
}

.typingGame__typingArea {
  width: 100%;
  border: solid 2px var(--frontTextColor);
  padding: 2em;
  overflow: hidden;
}
.typingGame__word {
  position: relative;
  background: var;
  padding: 0;
  border-radius: 1em;

  .typingGame__frontWord,
  .typingGame__backWord {
    font-size: 2em;
  }

  .typingGame__frontWord {
    color: var(--frontTextColor);
    display: inline-block;
    min-height: 1em;
  }
  .typingGame__backWord {
    position: absolute;
    left: 0;
    color: var(--backTextColor);
    pointer-events: none;
  }
}
